<div id="container">
        <div id="header">
            <h1>Slick<span class="off">Task</span></h1>       
        </div>   
        <div id="menu">
            <ul>
                <li class="menuitem"><a href="#">About</a></li>
                <li class="menuitem"><a href="#">Products</a></li>
                <li class="menuitem"><a href="#">Services</a></li>
                <li class="menuitem"><a href="#">Design</a></li>
              <li class="menuitem"><a href="/logout">Odjavi se</a></li>
            </ul>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>


        <div id="content_top"></div>
        <div id="content_main">
          <div id="tableContainer-1">
                  <div id="tableContainer-2">
                               <h2 style="text-align: center;">Projekti na kojima ste angažovani </h2>
                               <br/>

                                  <table style="border-collapse: collapse; border: 1px solid black;">
                                    <tr>
                                      <!-- <th class="pravaTabela">ID</th> -->
                                      <th class="pravaTabela">Oznaka</th>
                                      <th class="pravaTabela">Naziv</th>
                                      <th class="pravaTabela">Novi zadatak</th>
                                      <th class="pravaTabela">Svi zadaci</th>
                                      <th class="pravaTabela">Moji zadaci</th>
                                    </tr>
                                    <tr ng-repeat="projEntry in User.projekti">
                                     
                                      <!-- <td class="pravaTabela">{{projEntry._id}}</td> -->
                                      <td class="pravaTabela">{{projEntry.oznaka}}</td>
                                      <td class="pravaTabela">{{projEntry.naziv}}</td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="dodajZad(projEntry)"> <img src="images/add.png"  height="35"/></button></td>
                                      <td class="pravaTabela"> 
                                        <button style="background-color:transparent; border-color:transparent;" ng-click="pregledZadataka(projEntry)"> <img src="images/zadaci.png" height="35"/></button></td>
                                      <td class="pravaTabela"> 
                                        <button style="background-color:transparent; border-color:transparent;" ng-click="mojiZadaci(projEntry)"> <img src="images/zadaci.png" height="35"/></button></td>
                                      <!-- <td class="pravaTabela">{{User.ime}}</td> -->
                                      <!-- <td class="pravaTabela">{{User.prezime}}</td> -->
                                    </tr>
                                  </table>
                                  <!--
                                  <select>
                                    <option selected>
                                      Skok na projekat
                                    </option>
                                    <option
                                            ng-repeat="projEntry in projEntries"
                                            value="{{projEntry.oznaka}}" >
                                            
                                      {{projEntry.naziv}}
                                    </option>
                                  </select>
                                  -->
              </div>
                         
        </div>
      </div>
      <div id="content_bottom"></div>
  </div>