  <div id="container">
        <div id="header">
            <h1>Slick<span class="off">Task</span></h1>       
        </div>   
        <div id="menu">
            <ul>
                <li class="menuitem"><a ng-click="nazadNaMain()"> Nazad</a> </li>
                <li class="menuitem"><a href="#">About</a></li>
                <li class="menuitem"><a href="#">Products</a></li>
                <li class="menuitem"><a href="#">Services</a></li>
                <li class="menuitem"><a href="#">Design</a></li>
              <li class="menuitem"><a href="/logout">Odjavi se</a></li>
            </ul>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>


        <div id="content_top"></div>
        <div id="content_main">
          <div id="tableContainer-1">
                  <div id="tableContainer-2">
                     <div ng-controller="addRemoveUserProject">
                               <h2 style="text-align: center;">Korisnici na projektu <u style="color: #10100a;">{{projUser.naziv}}</u></h2>
                               <br/>
                                          <table style="border-collapse: collapse; border: 1px solid black;">
                                            <tr>
                                              <th class="pravaTabela">Ime</th>
                                              <th class="pravaTabela">Prezime</th>
                                              <th class="pravaTabela">E-mail</th>
                                              <th class="pravaTabela">Ukloni sa projekta</th>
                                            </tr>
                                            <tr ng-repeat="user in dodatiKorisnici">
                                                <td class="pravaTabela">{{user.ime}}</td>
                                                <td class="pravaTabela">{{user.prezime}}</td>
                                                <td class="pravaTabela">{{user.email}}</td>                                               
                                                <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="obrisiUsera(user, $index)"> <img src="images/removeUser.png" height="35"/></button></td>
                                            </tr>
                                          </table>  
                       
                       <br/>
                       <br/> 
                       <hr/>
                       <br/>
                       <br/>
                       
                               <h2 style="text-align: center;">Svi dostupni korisnici</h2>
                               <br/>
                                          
                                          <table style="border-collapse: collapse; border: 1px solid black;">
                                            <tr>
                                              <th class="pravaTabela">Ime</th>
                                              <th class="pravaTabela">Prezime</th>
                                              <th class="pravaTabela">E-mail</th>
                                              <th class="pravaTabela">Dodaj na projekat</th>
                                            </tr>
                                            <tr ng-repeat="kor in korEntries">
                                                <td class="pravaTabela">{{kor.ime}}</td>
                                                <td class="pravaTabela">{{kor.prezime}}</td>
                                                <td class="pravaTabela">{{kor.email}}</td>                                               
                                                <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="dodajUsera(kor, $index)"> <img src="images/addUser.png" height="35"/></button></td>
                                            </tr>
                                          </table>  
                      </div>


              </div>
                         
        </div>
      </div>
      <div id="content_bottom"></div>
  </div>