  <div id="container">
        <div id="header">
            <h1>Slick<span class="off">Task</span></h1>       
        </div>   
        <div id="menu">
            <ul>
                <li class="menuitem"><a ui-sref="addProjekat"> Novi projekat</a> </li>
                <li class="menuitem"><a href="#">About</a></li>
                <li class="menuitem"><a href="#">Products</a></li>
                <li class="menuitem"><a href="#">Services</a></li>
                <li class="menuitem"><a href="#">Design</a></li>
              <li class="menuitem"><a href="/logout">Odjavi se</a></li>
            </ul>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>


        <div id="content_top"></div>
        <div id="content_main" ng-controller="ZadaciKorisnicimaCtrl">

          <div id="tableContainer-1">
                  <div id="tableContainer-2">
                               <h2 style="text-align: center;">Dostupni izveštaji</h2>
                               <br/>

                                  <table style="border-collapse: collapse; border: 1px solid black;">
                                    <tr>
                                      <th class="pravaTabela">Zadaci dodeljeni korisnicima</th>
                                      <th class="pravaTabela">Završeni zadaci</th>
                                      <th class="pravaTabela">Dinamika kreiranja zadataka na projektu</th>
                                      <th class="pravaTabela">Dinamika završavanja zadataka na projektu</th>
                                      <th class="pravaTabela">Aktivnost korisnika na projektu</th>                     
                                    </tr>

                                    <tr>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="izvestaj1()"> <img src="images/izvestaj1.png" height="35"/></button></td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="dodajUser(projEntry)"> <img src="images/izvestaj2.png" height="35"/></button></td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="pregledZadataka(projEntry)"> <img src="images/izvestaj3.jpg" height="35"/></button></td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="izvestaji(projEntry)"> <img src="images/izvestaj4.png" height="35"/></button></td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="izvestaji(projEntry)"> <img src="images/izvestaj5.jpg" height="35"/></button></td>
                                    </tr>

                                  </table>                    
                </div>
                         
          </div>

           <br/>
           <hr/>
           <br/>
           <div ui-view></div> 
         
         <!--  ovim pozivamo dijagram ==> <svg id="test1" class="mypiechart"></svg> -->

       </div>
      <div id="content_bottom"></div>
  </div>