<html>
	<head>
		<script src="angular.js"></script>
		<script src="angular-resource.js"></script>
		<script src="primer02.js"></script>
	</head>
	<body ng-app="app">
		<div ng-controller="korisnikCtrl">
			<hr/>
			<h2>New entry</h2>
			<table>
				<tr>
					<td>ime:</td>
					<td><input type="text" ng-model="korEntry.ime"/></td>
				</tr>
				<tr>
					<td>prezime:</td>
					<td><input type="text" ng-model="korEntry.prezime"/></td>
				</tr>
				<tr>
					<td>e-mail:</td>
					<td><input type="email" ng-model="korEntry.email"/></td>
				</tr>
				<tr>
					<td>lozinka:</td>
					<td><input type="password" ng-model="korEntry.lozinka"/></td>
				</tr>
				<tr>
					<td colspan="2" aling="center"><button ng-click="save()">submit</button></td>
				</tr>
			</table>
		</div>
	</body>
</html>
