  <div id="container">
        <div id="header">
            <h1>Slick<span class="off">Task</span></h1>       
        </div>   
        <div id="menu">
            <ul>
                <li class="menuitem"><a ng-click="nazadNaMain()"> Nazad</a> </li>
                <li class="menuitem"><a href="#">About</a></li>
                <li class="menuitem"><a href="#">Products</a></li>
                <li class="menuitem"><a href="#">Services</a></li>
                <li class="menuitem"><a href="#">Design</a></li>
              <li class="menuitem"><a href="#">Odjavi se</a></li>
            </ul>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>


        <div id="content_top"></div>
        <div id="content_main">
          <div id="tableContainer-1">
                  <div id="tableContainer-2">
                               <h2 style="text-align: center;">Zadaci na projektu <u style="color: #10100a;">{{projZad.naziv}}</u></h2>
                               <br/>

                                  <table style="border-collapse: collapse; border: 1px solid black;">
                                    <tr>
                                      <th class="pravaTabela">Redni Broj</th>
                                      <th class="pravaTabela">Naslov</th>
                                      <th class="pravaTabela">Opis</th>
                                      <th class="pravaTabela">Napravljeno</th>
                                      <th class="pravaTabela">Korisnik</th>
                                      <th class="pravaTabela">Status</th>
                                      <th class="pravaTabela">Prioritet</th>
                                      <th class="pravaTabela">Brisanje</th>
                                      <th class="pravaTabela">Izmena</th>
                                      <th class="pravaTabela">Komentari</th>
                                      <th class="pravaTabela">Izmene zadatka</th>
                                    </tr>

                                    <tr ng-repeat="zadatak in projZadaci">
                                      <td class="pravaTabela">{{zadatak.redni_broj}}</td>
                                      <td class="pravaTabela">{{zadatak.naslov}}</td>
                                      <td class="pravaTabela">{{zadatak.opis}}</td>
                                      <td class="pravaTabela">{{zadatak.createdAt | date:'dd.MM.yyyy. HH:mm:ss' }}</td>
                                      <td class="pravaTabela">{{zadatak.korisnik.ime}} &nbsp {{zadatak.korisnik.prezime}}</td>
                                      <td class="pravaTabela">{{zadatak.status}}</td>
                                      <td class="pravaTabela">{{zadatak.prioritet}}</td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="obrisiZad(zadatak._id, $index)"> <img src="images/removeUser.png" height="35"/></button></td>
                                      <td class="pravaTabela" > <button style="background-color:transparent; border-color:transparent;" ng-click="editZadatak(zadatak._id, projZad._id)" ng-if="zadatak.status !== 'Done'"> <img src="images/edit.png" height="35"/></button>  </td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="komentari(zadatak._id, projZad._id)"> <img src="images/comments.jpg" height="35"/></button></td>
                                      <td class="pravaTabela"> <button style="background-color:transparent; border-color:transparent;" ng-click="izmeneZadatka(zadatak._id, projZad._id)"> <img src="images/changes.png" height="35"/></button></td>
                                    </tr>

                                  </table> 

                          </div>
                      </div>
        </div>
      <div id="content_bottom"></div>
  </div>