
  <div id="container">
        <div id="header">
            <h1>Slick<span class="off">Task</span></h1>       
        </div>   

        <br/><br/><br/><br/><br/><br/><br/><br/>


        <div id="content_top"></div>
        <div id="content_main">
          <div id="tableContainer-1">
            <div id="tableContainer-2">     

                          <div ng-controller="zadatakCtrl">
                            <h2 style="text-align: center; color: gray;">Unos novog zadatka za projekat <u style="color: #10100a;">{{projZad.naziv}}</u> </h2>
                            <br/>                        
                                <table  id="myTable">
                                    <tr>
                                         <td> <input class="sredina" type="text" size="30" value="{{zadEntry.oznaka}}" readonly></input></td>
                                    </tr>                      
                                    <tr>
                                       <td> <input class="sredina" type="text"  size="30" value="{{zadEntry.redni_broj}}" readonly></input></td>                             
                                    </tr>
                                <tr>
                                     <td> <input class="sredina" type="text" placeholder="Unesite naslov zadatka" size="30" ng-model="zadEntry.naslov" required></input></td>
                                </tr>
                                <tr>
                                   <td> <input class="sredina" type="text" placeholder="Opis zadatka" size="30" ng-model="zadEntry.opis" required></input></td>                            
                                </tr>
                                  <tr>
                                   <td class="sredina"> 
                                     <select ng-model="zadEntry.korisnik">
                                        <option
                                                ng-repeat="user in projZad.korisnici"
                                                value="{{user._id}}">
                                          {{user.ime}} &nbsp {{user.prezime}}
                                        </option>
                                        <option value="">- Izaberite korisnika za zadatak -</option>
                                    </select>
                                   </td>                            
                                </tr>
                                <tr>
                                  <td class="celija">
                                    <p>Prioritet :</p> 
                                  </td>
                                  <td>
                                    <select ng-model="zadEntry.prioritet">                   
                                      <option value="Blocker">Blocker</option>
                                      <option value="Critical">Critical</option>
                                      <option value="Major">Major</option>
                                      <option value="Minor">Minor</option>
                                      <option value="Trivial">Trivial</option>
                                    </select>
                                  </td>
                                </tr>
                                <tr>
                                   <td style="text-align: center;"> <a ui-sref="main"><button type="submit" style="background-color:transparent; border-color:transparent;" ng-click="save()"> <img src="images/submit.jpg" height="35"/></button> </a></td>                            
                                </tr>                                                          
                            </table>

                          
                        </div>
                      </div>
              </div>               
          </div>
      </div>
      <div id="content_bottom"></div>
  </div>
