<div id="container">
    <div id="header">
        <h1>Slick<span class="off">Task</span></h1>
    </div>

    <br/><br/><br/><br/><br/><br/><br/><br/>

    <div id="content_top">
    </div>

    <div id="content_main">
        <div id="tableContainer-1">
            <div id="tableContainer-2">
                <div ng-controller="zadatakCtrl">

                    <h2 style="text-align: center; color: gray;">Unos novog zadatka za projekat <u style="color: #10100a;">{{projZad.naziv}}</u> </h2>

                    <br/>

                    <form name="NoviZadatakForm" ng-submit="kreirajZad(NoviZadatakForm.$valid)" novalidate>
                        <table  id="myTable">
                            <tr>
                                <td>
                                    <input type="text" value="{{zadEntry.oznaka}}" name="oznaka" class="sredina" size="30" readonly />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="text" value="{{zadEntry.redni_broj}}" name="redni_broj" class="sredina" size="30" readonly />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="text" ng-model="zadEntry.naslov" name="naslov" class="sredina" placeholder="Unesite naslov zadatka" size="30" required />
                                    <br /><p ng-show="NoviZadatakForm.naslov.$invalid && !NoviZadatakForm.naslov.$pristine" style="color: red">Morate uneti naslov zadatka.</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="text" ng-model="zadEntry.opis" name="opis" class="sredina" placeholder="Opis zadatka" size="30" required />
                                    <br /><p ng-show="NoviZadatakForm.opis.$invalid && !NoviZadatakForm.opis.$pristine" style="color: red">Morate uneti opis zadatka.</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="sredina">
                                    <select ng-model="zadEntry.korisnik" name="korisnik">
                                        <option
                                                ng-repeat="user in projZad.korisnici"
                                                value="{{user._id}}">
                                            {{user.ime}} &nbsp {{user.prezime}}
                                        </option>
                                        <option value="">- Izaberite korisnika za zadatak -</option>
                                    </select>
                                </td>
                            </tr>
                            <!--
                                                            <tr style="float: left;">
                                                              <td style="width: 100px;">
                                                                <p style="font-size: 21px;">Prioritet :</p>
                                                              </td>
                                                              <td>
                                                                <select ng-model="zadEntry.prioritet" style="width: 150px;">         -->

                            <tr>
                                <td class="sredina">
                                    <select ng-model="zadEntry.prioritet" name="prioritet" required>
                                        <option value="">- Izaberite prioritet zadatka -</option>

                                        <option value="Blocker">Blocker</option>
                                        <option value="Critical">Critical</option>
                                        <option value="Major">Major</option>
                                        <option value="Minor">Minor</option>
                                        <option value="Trivial">Trivial</option>
                                    </select>
                                    <br/><p ng-show="NoviZadatakForm.prioritet.$invalid && !NoviZadatakForm.prioritet.$pristine" style="color: red">Morate izabrati prioritet zadatka</p>
                                </td>
                            </tr>
                            <tr>
                                <!--   <td style="text-align: center;"> <a ui-sref="main"><button type="submit" style="background-color:transparent; border-color:transparent;" ng-click="save()"> <img src="images/submit.jpg" height="35"/></button> </a></td> -->
                                <td style="text-align: center;">
                                    <button type="submit" ng-disabled="NoviZadatakForm.$invalid">Kreiraj zadatak</button>
                                </td>
                            </tr>
                        </table>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div id="content_bottom">
    </div>
</div>
