
  <div id="container">
        <div id="header">
            <h1>Slick<span class="off">Task</span></h1>       
        </div>   

        <br/><br/><br/><br/><br/><br/><br/><br/>


        <div id="content_top"></div>
        <div id="content_main">
          <div id="tableContainer-1">
            <div id="tableContainer-2">     
          <!--                   
                      <div ng-repeat="korEntry in korEntries">
                        <div>
                          {{ korEntry.ime }}
                        </div>
                        <div>
                          {{ korEntry.prezime }}
                        </div>
                      </div>

                        <div ng-controller="projekatCtrl">            
                        <select>
                          <option selected>
                            Skok na projekat
                          </option>
                          <option
                                  ng-repeat="projEntry in projEntries"
                                  value="{{projEntry.oznaka}}" >
                                  
                            {{projEntry.naziv}}
                          </option>
                        </select>
                      </div>
                      -->
                          <div ng-controller="zadatakCtrl">
                            <h2 style="text-align: center; color: gray;">Unos novog zadatka za projekat <span style="color: #10100a;">{{projZad.naziv}}</span> </h2>
                            <br/>                        
                                <table  id="myTable">
                                    <tr>
                                         <td> <input class="sredina" type="text" size="30" ng-model="zadEntry.oznaka" name="sifraOznaka"></input></td>
                                    </tr>                      
                                    <tr>
                                       <td> <input class="sredina" type="text"  size="30" ng-model="zadEntry.brojZadataka"></input></td>                             
                                    </tr>
                                <tr>
                                     <td> <input class="sredina" type="text" placeholder="Unesite naslov zadatka" size="30" ng-model="zadEntry.naslov" required></input></td>
                                </tr>
                                <tr>
                                   <td> <input class="sredina" type="text" placeholder="Opis zadatka" size="30" ng-model="zadEntry.opis"></input required></td>                            
                                </tr>
                                <tr>
                                   <td style="text-align: center;"> <a ui-sref="main"><button type="submit" style="background-color:transparent; border-color:transparent;" ng-click="save()"> <img src="images/submit.jpg" height="35"/></button> </a></td>                             
                                </tr>                                                          
                            </table>

                          
                        </div>
                      </div>
              </div>               
          </div>
      </div>
      <div id="content_bottom"></div>
  </div>
